[submodule "nixpacks"]
	path = nixpacks
	url = https://github.com/railwayapp/nixpacks
[submodule "vendor/rust-index-guix"]
	path = vendor/rust-index-guix
	url = https://github.com/meta-introspector/rust-index-guix.git
[submodule ".github/actions/install-nix-action"]
	path = .github/actions/install-nix-action
	url = https://github.com/meta-introspector/install-nix-action.git
[submodule ".github/actions/nix-github-actions"]
	path = .github/actions/nix-github-actions
	url = https://github.com/meta-introspector/nix-github-actions.git
[submodule ".github/actions/nix-installer-action"]
	path = .github/actions/nix-installer-action
	url = https://github.com/meta-introspector/nix-installer-action.git
[submodule ".github/actions/cache-nix-action"]
	path = .github/actions/cache-nix-action
	url = https://github.com/meta-introspector/cache-nix-action.git
[submodule ".github/actions/cache"]
	path = .github/actions/cache
	url = https://github.com/meta-introspector/cache.git
[submodule ".github/actions/checkout"]
	path = .github/actions/checkout
	url = https://github.com/meta-introspector/checkout.git
[submodule "vendor/rnix-parser"]
	path = vendor/rnix-parser
	url = https://github.com/nix-community/rnix-parser.git
[submodule ".github/actions/upload-artifact"]
	path = .github/actions/upload-artifact
	url = https://github.com/meta-introspector/upload-artifact
[submodule "vendor/nix-on-droid"]
	path = vendor/nix-on-droid
	url = https://github.com/nix-community/nix-on-droid.git
[submodule "source/github/jmikedupont2/orgs/Escaped-RDFa/namespace"]
	path = source/github/jmikedupont2/orgs/Escaped-RDFa/namespace
	url = https://github.com/Escaped-RDFa/namespace.git
[submodule "source/github/meta-introspector/git-submodule-tools-rs"]
	path = source/github/meta-introspector/git-submodule-tools-rs
	url = https://github.com/meta-introspector/git-submodule-tools-rs.git
[submodule "vendor/external/git-submodule-tools-rs"]
	path = vendor/external/git-submodule-tools-rs
	url = https://github.com/meta-introspector/git-submodule-tools-rs
[submodule "source/github/meta-introspector/solfunmeme"]
	path = source/github/meta-introspector/solfunmeme
	url = https://github.com/meta-introspector/solfunmeme
[submodule "source/github/meta-introspector/streamofrandom"]
	path = source/github/meta-introspector/streamofrandom
	url = ./source/github/meta-introspector/streamofrandom
