###############################################################################
# v2.CFG - OBJECT CONFIG FILE FOR MONITORING v2 cluster
#
###############################################################################



###############################################################################
#
# HOST DEFINITION
#
###############################################################################

# Define a host for the local machine

define host {
    use                     linux-server            ; Name of host template to use
    host_name               v2-1
    alias                   v2-1
    address                 100.100.245.19
}

define host {
    use                     linux-server            ; Name of host template to use
    host_name               v2-2
    alias                   v2-2
    address                 100.75.93.122 
}

define host {
    use                     linux-server            ; Name of host template to use
    host_name               v2-3
    alias                   v2-3
    address                 100.81.96.48   
}

define host {
    use                     linux-server            ; Name of host template to use
    host_name               v2-4
    alias                   v2-4
    address                 100.79.20.85    
}


define hostgroup {

    hostgroup_name          cluster-v2           ; The name of the hostgroup
    alias                   v2-cluster           ; Long name of the group
    members                 localhost,v2-1,v2-2,v2-3,v2-4
}


define service{
  use                 generic-service
  host_name           v2-2
  service_description Current Load
  check_command       check_nrpe!check_load!5.0,4.0,3.0!10.0,6.0,4.0
}
define service{
  use                 generic-service
  host_name           v2-3
  service_description Current Load
  check_command       check_nrpe!check_load!5.0,4.0,3.0!10.0,6.0,4.0
}
define service{
  use                 generic-service
  host_name           v2-4
  service_description Current Load
  check_command       check_nrpe!check_load!5.0,4.0,3.0!10.0,6.0,4.0
}